<h1>Страница для просмотра и редактирования</h1>
<form action="/edit/{{editMemo.id}}" method="POST">

<div class="mainContainer">

  {{#if editMemo}}

          <div class="cell" id="myPosts">
            <h2>Изначальные данные о компании</h1>
          <p class="p-style">Название компании: <span class="spanMemo nameCompany">{{editMemo.company}}</span> </p> 
          <p class="p-style">Адрес: <span class="spanMemo adressCompany">{{editMemo.adress}}</span>  </p> 
          <p class="p-style">Дата интервью: <span class="spanMemo dateInt"> {{editMemo.date}}</span> </p>
          <p class="p-style">Краткие требования, указанные в вакансии: <span class="spanMemo paramsComp">{{editMemo.text}}</span> </p>
          <p class="p-style">Информация о компании, которую я нашел: <span class="spanMemo myInfoAboutComp">{{editMemo.infoAboutCompany}}</span> </p>
          <p class="p-style">Мои вопросы для интервью: <span class="spanMemo myQues">{{editMemo.myQuestions}}</span> </p>
          <h3><img src="/pictures/free-icon-chat-134808.png" alt="edit" class="picEdit">Блок ниже обязательно заполните полностью после интервью</h3>
          <p class="p-style">Вопросы, которые задавали мне на интервью: <span class="spanMemo quesForMe">{{editMemo.companyQuestions}}</span> </p>
          <p class="p-style">Зарплата: <span class="spanMemo salary">{{editMemo.salary}}</span> </p>
          <p class="p-style">Кто проводил интервью (имя, должность): <span class="spanMemo withWho">{{editMemo.withWhoWasInterview}}</span> </p>
          <p class="p-style">Контакты, тел или почта: <span class="spanMemo contacts">{{editMemo.contactInfo}}</span> </p>
          <p class="p-style">Заметки после интервью (впечатления, ожидания, результат): <span class="spanMemo myNotesAfter">{{editMemo.memoAfterInterview}}</span> </p>
       <p></p>
       <button data-edit="{{editMemo.id}}" class="butInProfile">Редактировать</button> 
       <br><br>
       <button data-delete="{{editMemo.id}}" class="butDelete">Отменить интервью</button>
        </div>
  {{/if}}
</div>
</form>
<div id="divChange"></div>
  <script defer src="/js/client.js"></script>