<div id="imageMain">
  <div class="centered">
    {{!-- <p>Необходимо авторизоваться чтобы просматривать свои интервью</p> --}}
    <h1 class="title">
    	<span>Сайт-помощник, с возможностью создания заметок, заточенный под поиск работы</span>
    	<br><span>Забудьте о записках на бумаге, записях в ежеднивник, электронных таблицах</span>
	   <br><span>Теперь вы создаете на сайте заметки с необходимыми данными для прохождения собеседований и отслеживания результатов</span>
     <br><span>С помощью нашего сервиса, поиск работы стал комфортее</span>
    </h1>
    <a class="primaryProfile" href="/profile" role="button">Создать заметку</a>
  </div>
</div>


    {{#if userOne}}
<h1>Мои интервью</h1>

<main role="main">
  <ul>
    {{#each usersAllMemo}}
      <li>
    <div class="mainContainerForPost">

      <div class="containerForOneMemo">
          <h4><a href="/edit/{{this.id}}">Подробнее: {{this.company}}</a></h4>
          <p class="p-style">Адрес: <span class="spanMemo">{{this.adress}} </span> </p>
          <p class="p-style">Дата Интервью: <span class="spanMemo"> {{this.date}}</span> </p>
          <p class="p-style">Инфо в вакансии: <span class="spanMemo"> {{this.text}}</span> </p>
          <p class="p-style">Инфо, которую я нашел о компании: <span class="spanMemo">{{this.infoAboutCompany}}</span> </p>
          <p class="p-style">Мои вопросы для интервью о вакансии: <span class="spanMemo"> {{this.myQuestions}}</span> </p>
          <h3><img src="/pictures/free-icon-chat-134808.png" alt="edit" class="picEdit">Заполните полностью после прохождения интервью</h3>
          <p class="p-style">Вопросы, которые задавали мне на интервью: <span class="spanMemo">{{this.companyQuestions}}</span> </p>
          <p class="p-style">Зарплата: <span class="spanMemo"> {{this.salary}}</span> </p>
          <p class="p-style">Кто проводил интервью (имя, должность): <span class="spanMemo"> {{this.withWhoWasInterview}}</span> </p>
          <p class="p-style">Контакты, тел или почта: <span class="spanMemo"> {{this.contactInfo}}</span> </p>
          <p class="p-style">Заметки после интервью (впечатления, ожидания, результат): <span class="spanMemo">{{this.memoAfterInterview}} </span> </p>
      </div>
    </div>
      </li>
    {{/each}}
  </ul>
</main>
{{/if}}
         <div id="map" style="width: 600px; height: 400px"></div>


         <script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);
    function init(){
        // Создание карты.
        var myMap = new ymaps.Map("map", {
            // Координаты центра карты.
            // Порядок по умолчанию: «широта, долгота».
            // Чтобы не определять координаты центра карты вручную,
            // воспользуйтесь инструментом Определение координат.
            center: [55.76, 37.64],
            // Уровень масштабирования. Допустимые значения:
            // от 0 (весь мир) до 19.
            zoom: 13,
            controls: []
        });
        // Создадим экземпляр элемента управления «поиск по карте»
    // с установленной опцией провайдера данных для поиска по организациям.
    var searchControl = new ymaps.control.SearchControl({
        options: {
            provider: 'yandex#search'
        }
    });
    
    myMap.controls.add(searchControl);
    
    // Программно выполним поиск определённых кафе в текущей
    // прямоугольной области карты.
    searchControl.search({{this.adress}});
    }
</script>